body{
	background-color: #000;
	width: 97vw;
	padding: 0;
	margin: 0;
}
p{
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

video{
	border: 5px solid #fff;
    margin: 3px 3px;
}


.mainTable{
	width:90%
}

#SignIn{
	display:block;
	margin:10px auto;
	font-size: 80%;
	padding: 1%;
	border-radius: 100vh;
	color: #fff;
  	background-color: #00335c;
}
#SignIn:hover,
button#SignIn:hover {
  color: #fff;
  background: #0078D7;
}

#userInfo,#selectMedias{
	height: 50px;
	display: flex;
	justify-content: center;
}

#userInfo input,select{
	width: 60%;
	margin: 20px;
}


.department, .name{
	width: 30vw;
	height: : 80%;
	margin:20px;
	display: flex;
    justify-content: center;
    align-items: center;
}

#functions {
	justify-content: center;
	display: flex;
}

#functions *{
	margin:10px 10px;
}


#selectMedias input{
	margin: 10px;
}

#selectMediaForm {
	text-align:  center;
	margin: auto;
}
#selectMediaForm select,#selectMediaForm input[type="text"]{
	width: 40%;
	margin: 5px 10px;
	vertical-align: middle;
}
#selectMediaForm input[type="image"]{
	vertical-align: middle;
}

#selectMediaForm li{
	align-items: center;
	margin: auto;
	width: 60%;
	height: 50px;
}

.muteButton , .camOffOnButton,.soundOnOffBtn{
	width:30px;
	height: 30px;
}

#mainAlea{
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

#watermark{
	user-select: none;
	width: 100vw;
	height: 100vh;
	word-wrap: break-word;
	position: absolute;
	top: -10;
	left: -10;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 300%;
	opacity: 0.07;
	/* transform: rotate(-15deg); */
}


#localVideos{
	vertical-align: top;
}

#localVideos video{
	width:30vw;
}
#remoteVideoSize{
	width: 2%;
	vertical-align: top;
}
#remoteVideos{
	width: 100%;
	vertical-align: top;
}
#remoteVideoContainer ul{
	width: 100%;

}

#remoteVideoContainer li{
	width: 32%;
	margin:0 8px;
	list-style:none;
}

#remoteVideoContainer video{
	width: 100%;
}

#audioAlea{
	position: sticky;
	align-items: center;
	top: 10;
	width: 15%;
	height:90vh;
	padding: 0px 5px;
}

#audioAlea ul{
	width: 100%;
}

#audioAlea li{
	margin: 20px auto;
	text-align: center;
	list-style:none;
}

#audioAlea input[type="range"]{
	width: 80%;
}

#audioLists{
	margin: 0;
	padding: 0;
}

#remoteVideoContainer{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}

::cue {
  font-weight: bold;
  opacity: 0.3;
  background:none;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal{
	background: #fff;
  color: #555;
  width: 500px;
  padding: 30px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

#modal p{
	color:black;
}

#modal #dropTarget{
	width:90%;
	height:50%;
	border: dashed black;
	margin: auto;
}

#modal a{
	color: #fff;
	font-size:80%;
  background: #5876a3;
  padding: 5px 30px;
	margin: 3% 2%;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}

#droppedFiles li{
	border: black;
	border-bottom: 1px solid black;
	list-style:none;
	margin: 1px 5px;
}

#modal input{
	margin: 3% 5%;
}

#sharefiles{
	overflow: hidden;
}

#shareFiles iframe{
	width:48%;
	height:50vh;
	margin: 3px 3px;
	float: left;
}
